.about {
  &-bio-img {
    padding-top: 5rem;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgba($bg-c, 0.9), rgba($sec-c, 0.1)),
    url('/dist/img/photo-1514496959998-c01c40915c5f.jpeg') center;
    background-size: cover;
    @include flex(column);
  }  
  &-bio {
    width: 65%;
    margin: auto;
    text-align: center;
    .text-xl{
        padding-bottom: 2rem;
    }
 }
 P{
    font-size: 1rem;
 }
 .jobs {
    width: 65%;
    margin: auto;
    display: grid;
    grid-auto-columns: 1fr;
    gap: 2rem;
    padding-top: 3rem;

    &-job { 
        background: lighten($bg-c, 0%);
        border: 1px solid $prim-c;
        border-bottom: 5px solid $sec-c;
        box-shadow: 0 10px 10px rgba($sec-c, 0.9);
        padding: 1rem;

        
      h2
       {
            margin: 0.5rem 0;
        }
        h4 {
            margin: 0.3rem 0;
        }
    }
  }
}